@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
#root{
text-align:center;    
    padding:20px;
    font-family:'Titillium Web',sans-serif;
}
.container{
    display: inline-flex;
    margin: 0 auto;
    height: 800px;

}
.name{
    width: 100%;
    font-size:3.5em;
}
h4{
    font-size:2em;
    margin-top:-20px;

   
}
.player{
    width: 500px;
    text-align: center;
    vertical-align: middle;
    padding:50px 0;
}
.player .set{
    display:flex;
    height:100px;
    font-size: 2em;;
    width: 100%;
    justify-content:center;
    
}
.player .set button{
    width:50px;
    height:50px;
    opacity:0.4;
    border:0;
    background-color:white;
    font-size:1.5em;
    cursor:pointer; 
}
.main-img{
    align-items: center;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    justify-content:center;
    height:auto;
    width:420px;
}
.main-img button{
    padding:10px;
    border:0;
    background-color:transparent;
    font-size:1.5em;
    opacity:0.1;
    cursor: pointer;
    border-radius: 10px;;
}
.main-img button:hover{
    background-color:rgb(192, 192, 192);
    opacity:0.5;
    color:white;
    transition:all 0.5s;
}